<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/kendo-ui")
        @Scripts.Render("~/bundles/modernizr")
        <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

	<!--This bundle was moved by the Telerik VS Extensions for compatibility reasons-->
	@Scripts.Render("~/bundles/jquery")
	<link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/kendo/2017.3.913/kendo.default.min.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Scripts/kendo/2017.3.913/jquery.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.3.913/jszip.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.3.913/kendo.all.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo/2017.3.913/kendo.aspnetmvc.min.js")"></script>
	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>
    <input id="toggle-main-nav" class="toggle-main-nav" type="checkbox" />
    <div class="wrapper">
        <div class="wrapper-inner">
            <div class="page-wrap">
                <div id="fb-root"></div>
                <div class="header classic">
                    <div class="logo-bar">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 col-xs-9">
                                    <div class="logo">
                                        <a title="Buy / Sell Car online" href="/"><img src="~/Content/Images/logo.png" alt="Buy / Sell Car online | CarDealer WordPress Theme"></a>
                                    </div>
                                </div>
                            </div><!--/ .row-->
                        </div><!--/ .container-->

                    </div>

                    <div class="space"></div><div id="navHolder" class="">

                        <div class="nav-bar sticky-bar">

                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">

                                        <!-- Responsive Navigation -->
                                        <label for="toggle-main-nav" class="label-toggle-main-nav">
                                            <div class="menu-icon-container">
                                                <div class="menu-icon">
                                                    <div class="menu-global menu-top"></div>
                                                    <div class="menu-global menu-middle"></div>
                                                    <div class="menu-global menu-bottom"></div>
                                                </div>
                                            </div>

                                        </label>

                                        @Html.Partial("_LoginPartial")
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
                <div id="content" class="no_sidebar">
                    <div class="container">
                        <div class="row">
                            <main id="main" class="col-xs-12 has-content">

                                @RenderBody()

                            </main>
                        </div>
                    </div>
                </div>

                <footer id="footer">
                    <div class="container">
                        <p class="alignleft">Copyright © @DateTime.Now.Year. All rights reserved</p>
                    </div>
                </footer>

                
                @Scripts.Render("~/bundles/bootstrap")
                @Scripts.Render("~/bundles/vendor")
                @Scripts.Render("~/bundles/flexslider")

                @Scripts.Render("~/bundles/kendo")
                @Html.Kendo().DeferredScripts()
                @RenderSection("scripts", required: false)
                <script>
                                    jQuery(function () {
                                        jQuery('#slider_59df32f6e7850').flexslider({ "animation": "fade", "animationLoop": "1", "slideshow": "1", "reverse": "0", "slideshowSpeed": "4000", "animationSpeed": "800", "initDelay": "0", "randomize": "1", "controlNav": true, "directionNav": false, "easing": "swing", "direction": "horizontal", "smoothHeight": false, "startAt": 0, "pauseOnAction": true, "pauseOnHover": false, "useCSS": true, "touch": true, "video": false });
                                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>
