@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()
        <nav id="navigation" class="navigation clearfix">
            <ul id="menu-primary-menu" class="menu">
                <li>@Html.ActionLink("New Car", "New", "Cars")</li>
                <li>@Html.ActionLink("Latest Cars", "Search", "Cars")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="pull-right"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                <li class="pull-right">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            </ul>
        </nav>
    }
}
else
{
    <nav id="navigation" class="navigation clearfix">
        <ul id="menu-primary-menu" class="menu">
            <li>@Html.ActionLink("Latest Cars", "Search", "Cars")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li class="pull-right">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li class="pull-right">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </nav>
}
