@model TelerikAcademy.AutoDealer.Web.Models.DetailsViewModel
<article  class="item-car   ">
    <div class="page-subheader">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-title"><span>@Model.Make.Name </span></h2>
            </div>
            <div class="col-md-4 price-title">
                <h6>Price:</h6>
                <div class="price">
                    <span class="convert" data-convert="115500">€@Model.Price</span>
                </div>
            </div>
        </div>
    </div><!-- /.page-subheader -->
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="car-location">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="gallery">
                <div class="car-slider-wrapper slider">
                    <div class="car-slider">
                            <img src="@Model.Image1" alt="">
                    </div>

                    <div class="car-slider">
                        <ul id="sliderControls" >
                            <div class="slidesContainer">
                            </div>
                        </ul><span class="controls"></span>
                        <span class="slider-thumb-controls"><a href="#" data-target="prev" class="prevBtn"> &nbsp; </a><a href="#" data-target="next" class="nextBtn"> &nbsp; </a></span>
                    </div>
                </div>
            </div>
            <!--/ .gallery-->
        </div>
        <div class="col-md-4 tech">
            <h6 class="section-title"><span>Technical </span>data:</h6>
            <ul class="data-list">
                <li>Year:</li>
                <li >@Model.YearOfProduction</li>
                <li>Mileage:</li>
                <li>@Model.Mileage km</li>
                <li>Gearbox:</li>
                <li>@Model.Transmission.Name</li>
                <li>Hp:</li>
                <li>@Model.Hp</li>
            </ul>

            <h6 class="section-title"><span>Public </span>Info:</h6>
            <ul class="data-list">
                <li>Published:</li>
                <li>@Model.CreatedOn</li>
            </ul>

        </div>
    </div><!--/ .row-->
    <div class="bio clearfix">
        <h3 class="section-title"><span>Contact </span>Dealer</h3>
        <div class="bio-info clearfix">
            <p>
                <b>
                </b><br>
                <b>Email: </b>
                <span>@Model.OwnerEmail</span>
                <br>
            </p>
        </div>
        <!--/ bio-info-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title"><span>Additional </span>Info</h3>
            <p>@Model.Description</p>


            <div class="cBox cBox--related-items">
                <div class="page-subheader">
                    <h3 class="section-title"><span>Similar </span>Vehicles</h3><!--/ .page-title-->
                </div><!--/ .page-subheader-->
                <div id="change-items" class="row tmm-view-mode item-grid">

                    <article id="post-155" class="item car-entry col-md-4">
                        <div class="image-post" style="min-height: 159px;">

                            <a href="http://cardealer.webtemplatemasters.com/car/bmw-6-series-2012/" class="single-image picture">
                                <img src="http://cardealer.webtemplatemasters.com/wp-content/uploads/thememakers/cardealer/2/155/thumb/54584fb337b43.jpg" alt="">




                                <span class="picture-icon"></span>
                            </a>

                        </div><!--/ .image-post-->
                        <div class="detailed">
                            <h6 class="title-item">
                                <a href="http://cardealer.webtemplatemasters.com/car/bmw-6-series-2012/">
                                    BMW 6 Series  '2012
                                </a>
                            </h6>
                            <div class="price">
                                <span class="convert" data-convert="65000">
                                    €65.000,00
                                </span>
                            </div>
                            <div class="clear"></div>
                            <ul class="list-entry">

                                <li>
                                    <b>Location:</b><span>&nbsp;Germany / Berlin / Berlin</span>
                                </li>
                                <li>
                                    <b>Engine:</b><span>&nbsp;2.0L TDI, Diesel</span>
                                </li>
                                <li>
                                    <b>Mileage:</b><span>&nbsp; 50000 km</span>
                                </li>
                                <li>
                                    <b>Condition:</b><span>&nbsp;used</span>
                                </li>
                            </ul><!--/ .list-entry-->



                            <a href="http://cardealer.webtemplatemasters.com/car/bmw-6-series-2012/" class="button orange">Details</a>


                            <div class="compare">
                                <input id="for_compare_155" class="js_car_compare" data-post-id="155" type="checkbox">
                                <label for="for_compare_155">
                                    Compare
                                </label>
                                <input id="for_watch_155" class="js_car_watch_list" data-post-id="155" type="checkbox">
                                <label for="for_watch_155">
                                    Watch list
                                </label>
                            </div>


                        </div><!--/ .detailed-->
                    </article>
                    <article id="post-180" class="item car-entry col-md-4">
                        <div class="image-post" style="min-height: 159px;">

                            <a href="http://cardealer.webtemplatemasters.com/car/honda-civic-2013/" class="single-image picture">
                                <img src="http://cardealer.webtemplatemasters.com/wp-content/uploads/thememakers/cardealer/2/180/thumb/545850b9c24e9.jpg" alt="">




                                <span class="picture-icon"></span>
                            </a>

                        </div><!--/ .image-post-->
                        <div class="detailed">
                            <h6 class="title-item">
                                <a href="http://cardealer.webtemplatemasters.com/car/honda-civic-2013/">
                                    Honda Civic  '2013
                                </a>
                            </h6>
                            <div class="price">
                                <span data-convert="">
                                    Negotiable
                                </span>
                            </div>
                            <div class="clear"></div>
                            <ul class="list-entry">

                                <li>
                                    <b>Location:</b><span>&nbsp;Austria / Vienna / Liesing</span>
                                </li>
                                <li>
                                    <b>Engine:</b><span>&nbsp;2.0L TSi, Hybrid</span>
                                </li>
                                <li>
                                    <b>Mileage:</b><span>&nbsp; -</span>
                                </li>
                                <li>
                                    <b>Condition:</b><span>&nbsp;new</span>
                                </li>
                            </ul><!--/ .list-entry-->



                            <a href="http://cardealer.webtemplatemasters.com/car/honda-civic-2013/" class="button orange">Details</a>


                            <div class="compare">
                                <input id="for_compare_180" class="js_car_compare" data-post-id="180" type="checkbox">
                                <label for="for_compare_180">
                                    Compare
                                </label>
                                <input id="for_watch_180" class="js_car_watch_list" data-post-id="180" type="checkbox">
                                <label for="for_watch_180">
                                    Watch list
                                </label>
                            </div>


                        </div><!--/ .detailed-->
                    </article>
                    <article id="post-178" class="item car-entry col-md-4">
                        <div class="image-post" style="min-height: 159px;">

                            <a href="http://cardealer.webtemplatemasters.com/car/mini-countryman-2005/" class="single-image">
                                <img src="http://cardealer.webtemplatemasters.com/wp-content/uploads/thememakers/cardealer/2/178/thumb/537799d16e7c2.jpg" alt="">




                            </a>

                        </div><!--/ .image-post-->
                        <div class="detailed">
                            <h6 class="title-item">
                                <a href="http://cardealer.webtemplatemasters.com/car/mini-countryman-2005/">
                                    MINI Countryman  '2005
                                </a>
                            </h6>
                            <div class="price">
                                <span class="convert" data-convert="19000">
                                    €19.000,00
                                </span>
                            </div>
                            <div class="clear"></div>
                            <ul class="list-entry">

                                <li>
                                    <b>Location:</b><span>&nbsp;Poland / Lubusz / Biecz</span>
                                </li>
                                <li>
                                    <b>Engine:</b><span>&nbsp;2.0L Li, Diesel</span>
                                </li>
                                <li>
                                    <b>Mileage:</b><span>&nbsp; 210000 km</span>
                                </li>
                                <li>
                                    <b>Condition:</b><span>&nbsp;used</span>
                                </li>
                            </ul><!--/ .list-entry-->



                            <a href="http://cardealer.webtemplatemasters.com/car/mini-countryman-2005/" class="button orange">Details</a>


                            <div class="compare">
                                <input id="for_compare_178" class="js_car_compare" data-post-id="178" type="checkbox">
                                <label for="for_compare_178">
                                    Compare
                                </label>
                                <input id="for_watch_178" class="js_car_watch_list" data-post-id="178" type="checkbox">
                                <label for="for_watch_178">
                                    Watch list
                                </label>
                            </div>


                        </div><!--/ .detailed-->
                    </article>
                </div>
            </div>

        </div>
    </div><!--/ .row-->
</article>