@model TelerikAcademy.AutoDealer.Web.Models.DetailsViewModel
<article  class="item-car   ">
    <div class="page-subheader">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-title"><span>@Model.Make.Name </span></h2>
            </div>
            <div class="col-md-4 price-title">
                <h6>Price:</h6>
                <div class="price">
                    <span class="convert" data-convert="115500">€@Model.Price</span>
                </div>
            </div>
        </div>
    </div><!-- /.page-subheader -->
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-8">
                    <div class="car-location">
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="gallery">
                <div class="car-slider-wrapper slider">
                    <div class="car-slider">
                            <img src="@Model.Image1" alt="">
                    </div>

                    <div class="car-slider">
                        <ul id="sliderControls" >
                            <div class="slidesContainer">
                            </div>
                        </ul><span class="controls"></span>
                        <span class="slider-thumb-controls"><a href="#" data-target="prev" class="prevBtn"> &nbsp; </a><a href="#" data-target="next" class="nextBtn"> &nbsp; </a></span>
                    </div>
                </div>
            </div>
            <!--/ .gallery-->
        </div>
        <div class="col-md-4 tech">
            <h6 class="section-title"><span>Technical </span>data:</h6>
            <ul class="data-list">
                <li>Year:</li>
                <li >@Model.YearOfProduction</li>
                <li>Mileage:</li>
                <li>@Model.Mileage km</li>
                <li>Gearbox:</li>
                <li>@Model.Transmission.Name</li>
                <li>Hp:</li>
                <li>@Model.Hp</li>
            </ul>

            <h6 class="section-title"><span>Public </span>Info:</h6>
            <ul class="data-list">
                <li>Published:</li>
                <li>@Model.CreatedOn</li>
            </ul>

        </div>
    </div><!--/ .row-->
    <div class="bio clearfix">
        <h3 class="section-title"><span>Contact </span>Dealer</h3>
        <div class="bio-info clearfix">
            <p>
                <b>
                </b><br>
                <b>Email: </b>
                <span>@Model.OwnerEmail</span>
                <br>
            </p>
        </div>
        <!--/ bio-info-->
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-title"><span>Additional </span>Info</h3>
            <p>@Model.Description</p>

        </div>
    </div><!--/ .row-->
</article>